<% title("About Afshin") %>
<h1 class="page-header">About Afshin</h1>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="flipper-front">
			<!-- front content -->
		</div>
		<div class="flipper-back">
			<!-- back content -->
		</div>
	</div>
</div>
<p>Hi and thanks for stopping by my tech-blog and portfolio site.  
   This project started in December 2013 as a way for me to show some Web Dev experience, 
   and a place to deploy some of my work-in-progress coding projects.</p>
<p>Where am I located? I live in the San Francisco Bay Area, 
   but I have friends all over the world; and you can be one of them.</p>
<p>I've felt strongly for a variety of pursuits in my life, and as a side-effect
   my degrees are in <strong>Computer Science</strong> and <strong>Acupuncture</strong>!
</p>
<p>
    Professionally I've worked as a programmer at Oracle, Microsoft, and a handful of startups;
    I've also run my own health-care practice, as a licensed acupuncturist.
</p>
<p>These days you'll find me dividing my time between <a href="http://lulmama.com" target="_blank">Lulmama</a>, 
    a health startup, 
    learning all sorts of new technologies, writing code, blogging,
    practicing lots of TaiJi (tai-chi), playing drums,
    as much cooking as I can, and enjoying family.
</p>
<p>
    Thanks for stopping by my website.  I hope you find something interesting or inspiring.
</p>

<hr>

<div class="credits">
    <h4>Some credits:</h4>
    <p>I use <strong>icon fonts</strong> liberally all over this site.  
        <a href="http://icomoon.io" target="_blank">Icomoon</a> was a terrific resource for this.</p>
    <ul>
        <li class=".ico-ico_18273">The brackets icon was made by Qi Li</li>
        <li>Computer icon by Mayene de La Cruz</li>
        <li>Ruby icon by Darren Barrone</li>
        <li>Monitor by Guillermo Vera</li>
        <li>Pisces icon by Erika Jasso</li>
    </ul>
</div>

<hr>
<h3>Site Log</h3>
  <small>
    <dl class="dl-horizontal">
      <dt>Jan 1, 2014</dt>
        <dd>So, I decided not to use Twitter's Bootstrap or Foundation; they're overkill for this project, and I want to flex some CSS/JS skills.</dd>
      <dt>Jan 13</dt>
        <dd>Alpha Deployment.  Issues: conditional assets probs with some of my css, js; chat room has problems...</dd>
      <dt>Jan 14<dt>
        <dd>- Deploy day 2: Understanding and implementing what needs to be done to get assets pulling in from different sources, and precompiled in the right places.</dd>
        <dd>-- Put up article about <a href="https://afshin.herokuapp.com/articles/1">my deployment research</a>.  Clearly I have to prettify those post urls soon!</dd>
        <dd>-- Added my tweets to About page.  Need to add Contact form at some point</dd>
      <dt>Jan 15</dt>
        <dd>Lets see if jquery-turbolinks gem fixes my js issues. Doesn't look like it.</dd>
        <dd>-- Loading js on a per page basis, made page-specific js load at bottom of page, everything working in dev now.</dd>
        <dd>-- In production: Accordion working on Portfolio page (yes!), but chat room now totally broken (what?!)</dd>
      <dt>Jan 16</dt>
        <dd>Fixed some quirks in the styling.  Contemplating non-websockets chat.</dd>   
      <dt>Jan 17</dt>
        <dd>Building User system.</dd>   
      <dt>Jan 18</dt>
        <dd>Integrating New Relic App Monitor</dd>   
      <dt>Jan 20</dt>
       <dd>Start integrating <a href="">Twitter Bootstrap</a> (really?) and Devise</dd>
      <dt>Jan 27</dt>
       <dd>Authentication and Bootstrapinization is a go.</dd>       
      <dt>Feb 2</dt>
       <dd>So annoyed at this fonts on Firefox issue</dd>       
      <dt>Feb 13</dt>
       <dd>Haven't been updating this site log... should I keep it?</dd>
    </dl>
  </small>