<% title("About Afshin") %>
<h1>About Afshin</h1>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="flipper-front">
			<!-- front content -->
		</div>
		<div class="flipper-back">
			<!-- back content -->
		</div>
	</div>
</div>

<p>I live in the San Francisco Bay Area.</p>
<p>My education is in <strong>Computer Science</strong> and <strong>Traditional Medicine</strong>.
    Professionally I've worked as a programmer at Oracle, Microsoft, and a handful of startups;
    I've also run my own health-care practice, as a licensed acupuncturist.
</p>
<p>These days you'll find me dividing my time between <a href="http://lulmama.com" target="_blank">Lulmama</a>, 
    a health startup, 
    learning all sorts of new technologies, writing code, blogging,
    practicing lots of TaiJi (tai-chi), playing drums,
    as much cooking as I can, and enjoying family.
</p>
<p>
    Thanks for stopping by my website.  I hope you find something interesting or inspiring.
</p>

<hr>

<div class="credits">
    <h4>Some credits:</h4>
    <p>I use <strong>icon fonts</strong> liberally all over this site.  
        <a href="http://icomoon.io" target="_blank">Icomoon</a> was a terrific resource for this.</p>
    <ul>
        <li class=".ico-ico_18273">The brackets icon was made by Qi Li</li>
        <li>Computer icon by Mayene de La Cruz</li>
        <li>Ruby icon by Darren Barrone</li>
        <li>Monitor by Guillermo Vera</li>
        <li>Pisces icon by Erika Jasso</li>
    </ul>
</div>
