<% title("Home Page") %>
<article>
    <!-- <img class="pull-left" src= "<%= image_path("welcome.png") %>" > -->

    <p class="text-effects1">I've been writing a lot code recently.</p>
    <p>2013 was a <strong>very busy</strong> year for me in tech.  
        Deepening my javascript experience with
        the projects <a href="https://github.com/afshinator/autogeo" target="_blank">AutoGeo</a>,
        and <a href="https://github.com/afshinator/wattage-plots" target="_blank">Wattage Plotter</a>,        
        diving into <a href="http://www.codecademy.com/tracks/ruby" target="_blank">ruby</a> (what a lovely language), 
        discovering and working through <a href="http://www.theodinproject.com/" target="_blank">the Odin Project</a>, 
        finishing the <a href="http://www.thinktomi.com/classes.html" target="_blank">Enterpreneurs' Playbook course</a>, 
 
        the algorithms classes, and the meetups,
        and last but not least, putting together this very site using <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
    </p>
    <img class="pull-right" src="http://res.cloudinary.com/techblogpics/image/upload/v1392445151/coder-guy1_l2nsfu.png" alt="coder guy">
    <p>2014 will be more the year of focus.  Personally and professionally.</p>
    <p>January was a pleasant month, though we didn't get nearly enough rain!
       The site has already gone through a major feature upgrade with the addition of the authentication system and bootstrap.(2/14)</p>
    <h4>Anyway, welcome, take a look around, while you're here, read one of 
     <a href="./articles"> my articles</a>.</h4> 
    <p>I wont be blogging so much as just posting my notes, and they'll be updated.</p>
    <p><em>Keep tuned...</em> I have a lot planned for this site. - 1/14/2014</p>
    <hr>

</article>