<h1 class="page-header">Protected Page</h1>
<p>Thanks for signing up, logging in...</p>
<p><strong>This site is spanking new!</strong>  Right now there are really no perks to signing in, but there will be soon!</p>
<p>Meanwhile, have you read one of my articles?</p>
