<% title("My Portfolio") %>
<h1 class="page-header">Some of my work</h1>
<p>Here is a sample of some of my favorite recent works.</p>
<div class="bubble-boxwrap1  icon-ecmascript">
    <h1 class="ptitle" >Wattage-Plots</h1>
    <h2>Visualizing daily appliance eletrical use web-app</h2>
    <h3>Javascript, D3 library </h3>
    <a href="https://github.com/afshinator/wattage-plots" target="_blank">Source on Github</a> 
    ,  See it <a href="http://drivelinemoto.com/plotwatt/" target="_blank">live</a>.
    <p>
       Wattage Plots shows meaningful visualizations of kw/hour energy usage,
        with some data pulled in from a CSV file. 
        Data is displayed using the data-driven D3 visualization library.
    </p>
    <img class="align-right" width="40%" src="http://res.cloudinary.com/techblogpics/image/upload/v1389573420/wattage-logo1_viz8jd.png">    
    <ul> <strong>Tools Used:</strong>
        <li>Javascript, HTML, CSS</li>
        <li><a href="http://d3js.org/" target="_blank">D3.js</a> visualization library</li>
        <li>Twitter's Bootsrap</li>
    </ul>
    
    <ul><strong>Project Goals:</strong>
        <li>Learn me some D3.</li>
        <li>Build & use javascript classes that encapsulate details of specific chart types (like bar-chart, heat-chart) that otherwise require a variety of complex and easy-to-forget mixings of D3 elements.</li>
        <li>Provide visualizations of tabular numerical data in a manner that makes it easy to see patterns in the data.</li>
    </ul>
</div>


<p>I built the project as a proof of concept for one of my hobbies. 
    I wanted to build a semi-complex, multi-file, <strong>single-page web app</strong>, using javascript best practices.</p>


<div class="bubble-boxwrap1 icon-ecmascript">
    <h1 >AutoGeo</h1>
    <h2>Automated Geomantic Divination & Interpretation</h2>
    <h3>Javascript, JQuery, JQuery UI, AJAX, (HTML/CSS)</h3>
    <a href="https://github.com/afshinator/autogeo" target="_blank">Source on Github</a> 
    ,  See it <a href="http://drivelinemoto.com/autogeo2/" target="_blank">live</a>.
    <p>
        Geomantic divination was for hundreds of years practiced by people from all social classes throughout Europe 
        (especially prized by the ruling classes and the Church), Asia, and Africa. While most people have heard of its Chinese 
        counterpart, the Yi Jing, classical geomancy has largely escaped attention in the modern world.

        This program automates the manual process of casting a reading, and also helps interpret the results.
    </p>
    <img class="align-right" width="40%" src="http://res.cloudinary.com/techblogpics/image/upload/v1389573342/autogeo-snap1_ajs0gf.jpg">    
     <ul> <strong>Tools Used:</strong>
        <li>Javascript, HTML, CSS</li>
         <li>JQuery, <a href="http://momentjs.com/" target="_new">moment.js</a>, 
             <a href="http://goldfirestudios.com/blog/104/howler.js-Modern-Web-Audio-Javascript-Library" target="_new">howler.js</a></li>
        <li>Twitter's Bootsrap</li>
    </ul>
     <ul> <strong>Neat stuff included:</strong>
        <li>Geolocation, LocalStorage</li>
        <li>Event Log</li>
    </ul>    
</div>

<p>This next project was inspired by an exercise from <a href="http://theodinproject" target="_blank">The Odin Project</a>.
    It broadcasts your games of hangman into the cloud, and can be viewed live in any browser on the net.
    Ruby on the backend, Javascript/HTML/CSS on the front.</p>
    
<div class="bubble-boxwrap1 icon-ruby-ecmascript">
    <h1 >Hangman TV</h1>
    <h2>Play hangman, stream it to the net!</h2>
    <h3>Ruby, Javascript, Firebase API, (HTML/CSS)</h3>
    <a href="https://github.com/afshinator/Hangman-TV" target="_blank">Source on Github</a> 
    ,  See it <a href="http://htmlpreview.github.io/?https://github.com/afshinator/Hangman-TV/blob/master/index.html" target="_blank">live</a>.   
    <p>
        I was going through the Odin curriculum, this project is part of an exercise in working with files and serializing data in Ruby.
        I wanted to add a little spice and play with the Firebase API at the same time, and so Hangman TV was born. 
        I had fun making it. However, my goal was not to really make a full-blown game, there is plenty of room for improvement.
        Still, it's fun to watch a live game.
    </p>
    <img class="align-right" width="40%" src="http://24.media.tumblr.com/09ddacd6ec02e06fe5b1e57c5eb379fd/tumblr_mwdlag98LX1sh230co1_1280.jpg">    
     <ul> <strong>Tools Used:</strong>
        <li>Ruby</li>
        <li>Javascript, HTML, CSS</li>
         <li><a href="https://www.firebase.com/docs/" target="_blank" >Firebase API</a></li>
    </ul>
     <ul> <strong>Highlights:</strong>
        <li>Live streaming to the cloud,</li>
        <li>Live presentation of streamed data in the browser,</li>
    </ul>     
</div>
    
<p>This site itself is a <strong>Ruby on Rails app</strong>! and a work-in-progress...</p>
<div class="bubble-boxwrap1 icon-rails">
    <h1 >Personal Blog</h1>
    <h2>You're looking at it!</h2>
    <h3>Ruby on Rails, JS, HTML, CSS</h3>
    <a href="" target="_blank">Source on Github</a> 
    ;  look around, you are seeing it live.
    
    <img class="align-right" width="40%" src="">
    <p>
     This site is built with Ruby on Rails 4.
    </p>
     <ul> <strong>Tools Used:</strong>
        <li>Ruby, Rails</li>
        <li>HTML, CSS</li>
    </ul> 
</div>

<p>I've worked on a variety of <strong>WordPress</strong> sites.</p>
<div class="bubble-boxwrap1 icon-wordpress">
    <h1 >Wordpress</h1>
    <h2>CMS</h2>
    <h3>Php, HTML, CSS, Themes</h3>

    <p>
        Here are some sites I've worked on; click below to open each panel.
    </p>
    

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Academy of Chinese Culture & Health Sciences
        </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <img class="align-right" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891962/320-acchs_edu_zsheoy.jpg">
          <a href="http://acchs.edu" target="_blank">The Academy of Chinese Culture & Health Sciences</a>
          <p>A Highly trafficed, large site.  It was a challenge in structuring content.</p>
        </div>
      </div>
    </div>
        
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Evolutions By Lorelei</a>
         </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-left" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891962/320-evolutionsbylorelei_com_zqg99t.jpg">
            <a href="http://evolutionsbylorelei.com" target="_blank">Evolutions By Lorelei</a>  
         </div>
      </div>
   </div>
        
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">SambaFunk!</a>
         </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-right" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891963/320-sambafunk_com_ydwbi0.jpg">
            <a href="http://sambafunk.com" target="_blank">SambaFunk! Carnaval Explosion</a>
            <p>A speed optimized site!</p>              
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">San Carlos Auto Performance</a>
         </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-right" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891962/320-sancarlosautoperformance_wrqgvo.jpg">
            <a href="http://sancarlosautoperformance.com" target="_blank">San Carlos Auto Performance</a>
            <p>A speed optimized site!</p>              
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Stay in La Paz, Mexico!</a>
         </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-right" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891962/320-stayinlapaz_r8m6t2.jpg">
            <a href="http://stayinlapaz.com" target="_blank">Stay in La Paz, Mexico!</a>              
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Redwood City GoodYear</a>
         </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-left" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891963/320-redwoodgoodyear_com_gwxxvs.jpg">
            <a href="http://redwoodgoodyear.com" target="_blank">Redwood City GoodYear</a>            
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">EZSlide Handyman!</a>
         </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-right" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891963/320-ezslidehandyman_com_of8i3p.jpg">
            <a href="http://ezslidehandyman.com" target="_blank">EZSlide Handyman!</a>             
         </div>
      </div>
   </div>

     
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Driveline Automotive</a>
         </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-left" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891963/320-drivelinemoto_com_ddqtzv.jpg">
            <a href="http://drivelinemoto.com" target="_blank">Driveline Automotive</a>            
         </div>
      </div>
   </div>

          
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Car Care Automotive</a>
         </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
         <div class="panel-body">
            <img class="align-left" width="320" src="http://res.cloudinary.com/techblogpics/image/upload/v1390891962/320-carcare_xscmcf.jpg">
            <a href="http://oaklandautoshop.com" target="_blank">Car Care Automotive</a>           
         </div>
      </div>
   </div>

   </div><!-- /example -->
  

</div>

