/*
 *
 *= require_self
 */

@import "framework_and_overrides";      // Bootstrap3

$file-main-bkgd-image: 'http://res.cloudinary.com/techblogpics/image/upload/v1389694162/main-site-bkgd1_umhw0n.png';
$file-monitor: 'http://res.cloudinary.com/techblogpics/image/upload/v1389694382/monitor1_zhambb.png';
$header-code-image: 'http://res.cloudinary.com/techblogpics/image/upload/v1389694502/my-code6_e2prd6.png';

$header-bkdg-color: #3F1F1F;

$base-font-size: 18px;
$base-font-weight: 300;

$bkgd-grey: #333;
$my-dkgrey: #252525;
$my-white: #ddd;
$my-yellow: #ffcc00;
$my-orange: #ff9900;
$my-red: #cc0000;
$my-blue: #0282a3;

$base-font-size: 18px;
$base-font-weight: 300;

$navi-link-color: $my-yellow;
$navi-link-over: $my-orange;

/* ------------------ Icon fonts of awesomeness ----------------------------------------- */
@font-face {
    font-family: 'icomoon';
    src:url(asset_path('http://drivelinemoto.com/acuafshin/icomoon.eot') );
    src:url(asset_path('http://drivelinemoto.com/acuafshin/icomoon.eot?#iefix')) format('embedded-opentype'),
        url(asset_path('http://drivelinemoto.com/acuafshin/icomoon.woff')) format('woff'),
        url(asset_path('http://drivelinemoto.com/acuafshin/icomoon.ttf')) format('truetype'),
        url(asset_path('http://drivelinemoto.com/acuafshin/icomoon.svg#icomoon')) format('svg');
}  


body {
    border-top: 5px solid $my-yellow;

    background: url($file-main-bkgd-image) repeat $bkgd-grey; // $bkgd-grey;
    
    color: $my-white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    font: {
        family: 'Lato', sans-serif;
        size: $base-font-size;
        weight: $base-font-weight;
    }
}

// encloses main-content
.bubble-wrap1 {
    margin-top: 1em;
    padding: 1px 1em 1em 1em;
  
    background: none repeat scroll 0 0 #444444;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);   
}


.page-header  {
    font-size:2.75em;
    font-weight: 400;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
  }


.main-content {
  h1, h2, h3, h4, h5, h6 {
    font: {
      family: 'Lato', sans-serif;
    }
  }

    hr { margin-bottom: 1.2em; }

    article {
        padding: 0 30px;   
    }

    ul {
        margin-bottom: 2em;
    }

    li {
        font-size: 0.9em;
        line-height: 1em;
        margin-top: .75em;
        list-style: none;
    }
    
/*
    h2, h3, h4 {
        margin-bottom: .75em;
    }
*/


    a {       
        color: $navi-link-color;
        text-decoration: none;                     // remove underline 
    
        &:hover {
            color: $navi-link-over;
        }
    }

    pre {    
        margin-bottom:1.3em;
        border: 1px solid #888888;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8) inset;
        padding:0 1.0em 1.0em 1.0em;
        overflow:auto; 
        font-size: .85em;
        line-height: 1.2em;
        background: #111;
    }

    code {
        background: #111;
    }
}


.text-effects1 {
   font-weight: 300;
   font-size: 2em;
}




@import "header";      // css code for, placed below declarations for good reason
@import "about";
@import "sidebar";
@import "portfolio";