<header id="header">
  <div id="header-branding">
    <div id="scrolling-code" class="attached"></div>
    <div id="site-title" class="attached"><h1>Afshin Mokhtari</h1>
        <div id="site-description" class="attached">
            <h2>Software Engineer</h2>
            <p>I focus on <strong>Web Development:</strong><br>Javascript, JQuery, Ruby, Rails,<br>HTML, CSS, and more...</p>
        </div>
    </div>
  </div>
</header>